version: '3.9'
services:
  postgres:
    image: postgres:14@sha256:5fd97d3efae5e17da18b5884532f07c411330253e0a864d8895f176ab4ab0f90
    container_name: postgres_nexi
    ports:
      - 5432:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_DB=nodo
      - POSTGRES_USER=cfg
      - POSTGRES_PASSWORD=password